:root{
    --cor-base: #0546d1;
    --cor-base-h2: #0c0c0c;
    --cor-fundo-img: #c0bbbb;
    --cor-borda-img: #0c0c0c;
}
body {
    color:var(--cor-base);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

h1 {
    background-image: url(../img/sobre-background.jpg);
}

h2 {
    border-bottom: 2px groove var(--cor-base-h2);

}   

figure {
    background-color: var(--cor-fundo-img);
    border: 1px solid var(--cor-borda-img);
    text-align: center;
    
   
}

figcaption {
    font-style: italic;
}